<div class="banner">
<h1>Stupid Coaching</h1>
<div class="q">
  <p class="someone">You:</p>
  <p><%= @question %></p></div>
<div class="a">
  <p class="someone">The Stupid Coach:</p>
  <p><%= @answer %></p>
</div>
<form action="/" method="get">
    <button type = "submit">Wanna ask more?</button>
  </form>

</div>
