body {
  margin: 0;
  background-color: rgb(65, 14, 114);
}
h1, p {
  color: azure;
}
.banner {
  display: flex;
  flex-direction: column;
  background-color: rgb(112, 14, 204);
  justify-content: center;
  align-items: center;
  padding: 3em;
  width: 50vh;
  text-align: center;
  margin: 10vh auto;
  border-radius: 5vh;
  font-size: large;
}
.someone {
  font-size: 1.5em;
  font-weight: bold;
}
button {
  border-radius: 1em;
  padding: 1em;
  background-color:rgb(112, 24, 194);
  color: beige;
  display: inline-block;
}
button:hover {
  transform: scale(1.1);
  background-color:rgb(83, 22, 139);
  color: beige;
}
